.container {
    width: 500px;
    height: 500px;
    border: solid black;
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
}

.item {
    width: 6.25%;
    height: 6.25%;
    /*these are determined by the grid dimensions - 100%/16 = 6.25%*/
    border: dashed red;
    box-sizing: border-box;
}

.hovered {
    background-color: black;
}